.desktop-nav {
  display: none;
}

.mobile-nav {
  display: flex;
  height: 0px;
  overflow: hidden;
}

header {
  height: 100px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1A2755;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
}

.header-wrapper img {
  width: 65px;
}

#menuToggleButton {
  width: 60px;
}

@media (min-width: 700px) {
  header {
    height: 100px;
    align-items: stretch;
    padding: 0 10px;
  }

  .desktop-nav {
    display: flex;
    align-items: end;
  }

  .mobile-nav {
    display: none;
  }
  
  .menu {
    display: none;
  }

  .desktop-nav a {
    background-color: #1A2755;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
  }

  .active {
    background-color: #F2F4F7;
    color: black;
  }

}