.page-left, .page-right {
    display: none;
}

main {
    display: flex;
    flex: 5;
}

.feed {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.event {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-radius: 10px
}

.event > * {
    width: 100%;
    background-color: white;
}

.title-box {
    display: flex;
    height: 90px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px 10px 0 0
}

.event-title-wrapper {
    height: 100%;
}

.club-title {
    font-weight: 900;
    font-size: 13px;
    width: 95%;
    margin-top: 8px;
    margin-left: 8px;
}

.event-title {
    font-size: 16px;
    width: 95%;
    margin-top: 5px;
    margin-left: 8px;
}

.student-org-img {
    height: 70%;
    border-radius: 50%;
    margin-left: 10px;
}

.event-time {
    background-color: #1A2857;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}

.more-details-section {
    height: 65px;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.more-details-section > * {
    margin: 0 10px;
}

.more-details-section > button {
    background-color: #1A2857;
    color: white;
    padding: 10px;
    border: none;
    font-size: 10px;
}

@media (min-width: 700px) {
    .page-left, .page-right {
        display: flex;
        flex: 1;
    }

    .feed {
        flex: 3;
    }
}