.page-left, .page-right {
    display: none;
}

main {
    padding: 0;
}

/* ######################################################## */
/* ######################## FEED ########################## */
/* ######################################################## */
.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}
.event {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    margin: 10px 0;
}
.event > * {
    width: 100%;
    background-color: white;
}
.title-box {
    display: flex;
    height: 90px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px 10px 0 0;
}
.event-title-wrapper {
    height: 100%;
}
.event-title {
    font-size: 16px;
    width: 95%;
    margin-top: 5px;
    margin-left: 8px;
}
.student-org-img {
    height: 70%;
    border-radius: 50%;
    margin-left: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    border: 1px rgb(251, 251, 251) solid;
}
.club-title {
    font-weight: 900;
    font-size: 13px;
    width: 95%;
    margin-top: 8px;
    margin-left: 8px;
}
.event-time {
    background-color: #1A2857;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}
.more-details-section {
    height: 65px;
    display: flex;
    border-radius: 0 0 10px 10px;
    justify-content: space-between;
    align-items: center;
}
.more-details-section > * {
    margin: 0 10px;
}
.more-details-section > button {
    background-color: #1A2857;
    color: white;
    padding: 10px;
    border: none;
    font-size: 10px;
}

@media (min-width: 850px) {
    .page-left {
        display: flex;
        flex: 2;
    }
    .page-right {
        display: flex;
        flex: 2;
        justify-content: center;
        align-items: baseline;
    }
    main {
        display: flex;
        width: 100%;
    }
    .feed {
        flex: 5;
    }
    .event {
        width: 100%;
    }
    .clubs {
        background-color: white;
        margin-top: 30px;
        height: auto;
        width: 85%;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
        border: 1px solid #0277C8;
    }
    .clubs h1 {
        width: 100%;
        height: 35px;
        text-align: center;
        font-size: 15px;
        color: white;
        background-color: #0277C8;
        line-height: 35px;
    }
    .club-list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 0 0 45px 0;
    }
    .club-list a {
        padding: 6px 0;
        text-decoration: none;
        padding-left: 15px;
        transition: 
            background-color 0.1s ease,
            color 0.1s ease,
            transform 0.5s ease,
            box-shadow 0.5s ease;
        transform: translateZ(0); /* Helps with smoother animations */
        color: black;
        border-top: rgb(216, 216, 216) 1px solid;
        font-size: 13px;
        font-weight: 700;
    }
    .club-list a:hover {
        background-color: #0277C8;
        color: white;
        transform: scale(1.0025) translateY(-1px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .page-left {
        display: flex;
        align-items: baseline;
        justify-content: center;
    }

    .feedback {
        background-color: white;
        width: 85%;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-top: 30px;
        padding-top: 12px;
        
    }
    .feedback h1 {
        font-size: 15px;
        text-align: center;
        margin-bottom: 10px;
    }
    .past-event {
        padding: 5px 9px;
        border-top: rgb(236, 236, 236) 0.5px solid;
        border-bottom: rgb(236, 236, 236) 0.5px solid;
    }
    .past-event:hover {
        cursor: grab;
        background-color: rgb(230, 230, 230);
    }
    .past-event h2 {
        font-size: 10px;
    }
    .past-event p {
        font-size: 9px;
        color: grey;
    }
}