/* FEED ELEMENTS */

.feed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event {
    margin-top: 10px;
    background-color: white;
    width: 90%;
    border-radius: 10px;
}

.title-box {
    width: 100%;
    display: flex;
    height: 100px;
    align-items: center;
}

.student-org-img {
    height: 70%;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 20px;
}

.event-title-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.club-title {
    font-size: 20px;
    font-weight: 900;
}

.event-title {
    font-size: 25px;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25px;
    background-color: #0077C8;
    color: white;
    font-weight: 900;
}


.post-img {
    width: 100%;
}

.more-details-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.more-details-section p {
    margin-left: 20px;
}

.more-details-section button {
    padding: 12px 12px;
    background-color: #0077C8;
    color: white;
    border: none;
    transform: 350ms background-color;
    margin-right: 20px;
    border-radius: 10px;
}

.more-details-section button:hover {
    background-color: #1c90dd;
}

/* CLUB LIST DETAILS */

.page-left, .page-right {
    display: none;
}

.page-right {
    align-items: start;
    justify-content: end;
}

.clubs {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    padding: 15px 0;
    border-radius: 10px 0 0 10px;
}

.clubs > h1 {
    transform: translateX(10px);
}

.club-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

}

.club-list > a {
    color: black;
    padding: 15px 0 15px 10px;
    text-decoration: none;
    font-weight: 900;
    vertical-align: middle;
    transition: transform 200ms, background-color 100ms, color 100ms;
    border-top: 1px rgb(204, 204, 204) solid;
}

.club-list > a:hover {
    background-color: #1c90dd;
    transform: translateX(-15px);
    color: white;
}

/* Desktop */
@media (min-width: 1000px) {
    .page-left, .page-right {
        display: flex;
        flex: 2
    }

    .feed {
        flex:5
    }
}