{% extends 'base.html' %}
{% load static %}

{% block title %}Create Event - Spartan Engage{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/add_event.css' %}">
{% endblock %}

{% block content %}
  <div class="event-container">
    <h2>Create Event</h2>
    <form method="post" enctype="multipart/form-data" class="event-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn-submit">Create Event</button>
    </form>
  </div>
{% endblock %}
