{% extends 'base.html' %}
{% load static %}

{% block title %}Spartan Engage{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/clubs.css' %}">
<main>
    {% for club in clubs %}
    <a class="club-link" href="{% url 'club' club.id %}">
        <div class="club">
            <img src="{{ club.pfp.url }}" alt="{{ club.name }} profile picture">
            <div class="club-name">{{ club.name }}</div>
            <p class="club-desc">{{ club.description }}</p>
        </div>
    </a>
    {% endfor %}
</main>
{% endblock %}
