{% extends 'base.html' %}
{% load static %}

{% block title %}Create Event - Spartan Engage{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/add_event.css' %}">

<main>
  <div class="event-container">
    <h1>Create Event</h1>
    
    <form method="post" enctype="multipart/form-data" class="event-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-submit">
          {% if event %}Save Changes{% else %}Create Event{% endif %}
        </button>
      </form>
      
      {% if event %}
        <form method="post" action="{% url 'delete_event' event.id %}" onsubmit="return confirm('Are you sure you want to delete this event?');">
          {% csrf_token %}
          <button type="submit" class="btn-delete">Delete Event</button>
        </form>
      {% endif %}   
  </div>
</main>
{% endblock %}
