{% extends 'base.html' %}
{% load static %}

{% block title %}Spartan Engage{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/event.css' %}">
<main>
    <div class="event">
        <div class="title-box">
            <img src="{{ event.club.pfp.url }}" alt="" class="student-org-img">
            <div class="event-title-wrapper">
              <p class="club-title">{{ event.club.name }}</p>
              <p class="event-title">{{ event.name }}</p>
            </div>
        </div>  
  
        <div class="event-time"><p>{{ event.date }} {{ event.time }}</p></div>
        <img src="{{ event.image.url }}" alt="" class="post-img">
        <div class="more-details-section">
          <p>{{ event.attendee_count }} Attending</p>
          <p>{{ event.description }}</p>
        </div>
      </div>
</main>

{% endblock %}
