{% load static %}
<header>
    <div class="header-wrapper">
        <img src="{% static 'images/stark-state-logo.png' %}" alt="Stark State Logo">
        <div class="header-text-wrapper">
            <h1>Spartan Engage</h1>
            <p>Stark State College</p>
        </div>
    </div>

    <div class="menu">
        <img src="{% static 'images/hamburger.svg' %}" alt="Menu Icon Button" id="menuToggleButton">
    </div>

    <div class="desktop-nav">
        {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <a href="{% url 'my_events' %}">My Events</a>
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="/" class="active">Home</a>
        <a href="login">Login</a>
        {% endif %}
    </div>


</header>

<div class="mobile-nav" id="mobileMenu">
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
    <a href="{% url 'my_events' %}">My Events</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="/">Home</a>
    <a href="login">Login</a>
    {% endif %}
</div>

<script src="{% static 'js/header.js' %}"></script>