{% load static %}
<header>
    <div class="header-wrapper">
        <img src="{% static 'images/stark-state-logo.png' %}" alt="Stark State Logo">
        <div class="header-text-wrapper">
            <h1>Spartan Engage</h1>
            <p>Stark State College</p>
        </div>
    </div>

    <div class="menu">
        <img src="{% static 'images/hamburger.svg' %}" alt="Menu Icon Button" id="menuToggleButton">
    </div>

    <div class="desktop-nav">
        <a href="/">Home</a>
        <a href="login">Login</a>
    </div>


</header>

<div class="header-nav" id="mobileMenu">
    <a href="">Home</a>
    <a href="">Login</a>
</div>

<script src="{% static 'js/header.js' %}"></script>