{% extends 'base.html' %}
{% load static %}

{% block title %}Spartan Engage{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<main>
  <div class="page-left">
    <!-- Existing content for past events and feedback -->
    <div class="feedback">
      <h1>Leave Feedback</h1>
      <div class="past-events">
        {% for past_event in past_events %}
        <div class="past-event" data-event-id="{{ past_event.id }}" style="cursor: pointer;">
          <h2>{{ past_event.name }}</h2>
          <p>{{ past_event.club.name }}</p>
          <p>{{ past_event.date }}</p>
        </div>
        {% endfor %}
        <script>
          document.querySelectorAll('.past-event').forEach(function(element) {
            element.addEventListener('click', function() {
              const eventId = this.dataset.eventId;
              window.location.href = "{% url 'leave_feedback' 0 %}".replace("0", eventId) + "#form";
            });
          });
        </script>
      </div>
    </div>
  </div>
  
  <div class="feed">
    {% for event in events %}
    <div class="event">
      <div class="title-box">
          <img src="{{ event.club.pfp.url }}" alt="alt-text" class="student-org-img">
          <div class="event-title-wrapper">
            <p class="club-title">{{ event.club.name }}</p>
            <p class="event-title">{{ event.name }}</p>
          </div>
      </div>  
      <div class="event-time"><p>{{ event.date }} {{ event.time }}</p></div>
      <img src="{% if event.image %}{{ event.image.url }}{% else %}{% static 'images/default.png' %}{% endif %}" alt="Event image" class="post-img">
      <div class="more-details-section">
        <p>{{ event.attendee_count }} Attending</p>
        <a href="{% url 'event_details' event.id %}">More Details</a>
      </div>
    </div>
    {% empty %}
    <p>No upcoming events.</p>
    {% endfor %}

    <!-- Pagination Controls -->
    <div class="pagination">
      {% if events.has_previous %}
        <a href="?page={{ events.previous_page_number }}">Previous</a>
      {% endif %}
      <span>Page {{ events.number }} of {{ events.paginator.num_pages }}</span>
      {% if events.has_next %}
        <a href="?page={{ events.next_page_number }}">Next</a>
      {% endif %}
    </div>
  </div>

  <div class="page-right">
    <div class="clubs">
      <h1>Student Organizations</h1>
      <div class="club-list">
        {% for club in clubs %}
        <a href="{% url 'club' club.id %}">{{ club.name }}</a>
        {% empty %}
        <a>No clubs yet</a>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
